.cont {
  max-width: 500px !important;
  margin-top: 50px;
}

label {
  margin-top: 5px;
}

.close-icon {
  font-size: 1.5em;
  padding-top: 7px;
}

.add-more {
  color: lightblue;
  font-size: 0.9em;
  cursor: pointer;
}

.margin-top-5 {
  margin-top: 5px;
}

.question {
  border: 1px solid lightblue;
  padding: 8px;
  margin-bottom: 10px;
}

.align-center {
  margin: 0 auto;
  display: block;
}
