<sn-navbar></sn-navbar>


  <h1 style="text-align:center">Profile page</h1>
  <fieldset>
    <legend><h3>Edit personal information:</h3></legend>
    <br>
    <br />
    <a href="#" class="profile-pic">
      <div class="profile-pic" style="background-image: url('https://cdn2.iconfinder.com/data/icons/classic-development-circle/512/edit_user-512.png');margin:0 auto;">

        <span class="glyphicon glyphicon-camera"></span>

      </div>
    </a>
    <br>
    <br />
    <div class="continut-profile" style="text-align:center;">
    <div class="ui input">
      <input type="text" placeholder="First Name">
    </div>
    <br>
     <br />
    <div class="ui input">
      <input type="text" placeholder="Last Name">
    </div>
      <br>
      <br />
    <div class="ui input">
      <input type="text" placeholder="E-mail">
    </div>
      <br>
      <br />
    <div class="ui input">
      <input type="text" placeholder="Password">
    </div>
      <br>
      <br />
    <div class="ui input">
      <input type="text" placeholder="Retype Password">
    </div>
      <br>
      <br />
      <button class="ui primary button buton-salvare">
        Save
      </button>
      <br>
      <br />
      </div>
  </fieldset>
